# JetBrains phpStorm IDE files -------------------------------------------------
/.idea/*

# settings ---------------------------------------------------------------------
/json_data/user
!/json_data/user/README
# ------------------------------------------------------------------------------

# test -------------------------------------------------------------------------
/test
# ------------------------------------------------------------------------------