strong {
    font-weight: bold;
}

.wrap {
    padding: 5px;
}

/* demo_1 ------------------------------------------------------------------- */
.container1 {
    padding: 5px;
}

.list1 {
    padding: 3px;
}

.list1_label {
    margin-right: 5px;
}
/* demo widgets ------------------------------------------------------------- */
ul#icons {
    margin: 0;
    padding: 0;
    line-height: 18px;
}

ul#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}

ul#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}